/*
-------------------------------------------------------------------------
                                   GERAL
-------------------------------------------------------------------------
*/

@font-face {
    font-family: "Orbitron";
    src: url("/static/fonts/Orbitron-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bungee";
    src: url("/static/fonts/Bungee-Regular.ttf")
}

@font-face {
    font-family: "Rubik";
    src: url("/static/fonts/Rubik-Regular.ttf")
}

:root {
    --neutralLight: #ffffff;    /* Fundo, textos e separadores */ 
    --neutralDark: #111111;     /* Fundo, textos e separadores */ 
    --main: #2354f5;            /*Ações, botões e links principais */
    --secondary: #FFC107;       /*  */ 
    --highlight: #1ec8ff;       /* Hovers, destaques e gradientes */
}

html {
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--neutralLight);
    color: var(--neutralDark);
    margin: 5% 5% 5% 5%;
    font-size: 1.125rem;
    font-family: "Rubik";
    margin-top: 0;
}

body {
    min-width: 32rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*
-------------------------------------------------------------------------
                                   MENU
-------------------------------------------------------------------------
*/

.menu {
    background-color: var(--neutralDark);
    width: 100vw;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    position: sticky;
    top: 0;
    font-size: 0.8rem;
    color: var(--neutralLight);
}

.menu img {
    height: 7rem;
    width: 8rem;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

.menu ul li {
    padding: 0.5rem;
    height: 1.3rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
}

#login {
    background-color: var(--main);
    color: var(--neutralLight);
    border-radius: 0.5rem;
    border: 1px solid transparent;
    width: 3.5rem;
}

.menu ul li:hover {
    cursor: pointer;
    transform: scale(1.08);
    font-weight: bold;
    border-top: 0.1rem solid var(--highlight);
    transition: 0.2s ease;
}

li a {
    color: var(--neutralLight);
}

li a:visited {
    color: var(--neutralLight);
}

.dropdown {
    gap: 0.2rem;
}

.lni-chevron-down {
    color: var(--neutralLight);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--neutralDark);
    list-style: none;
    padding: 1rem;
    min-width: 100px;
    border-radius: 1rem;
}

.dropdown-menu li {
    padding: 8px 12px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: var(--neutralLight);
}

.dropdown-menu li:hover {
    background-color: var(--main);
    border-radius: 0.5rem;
    width: 100%;
    transition: 0.5s ease;
}

/*
-------------------------------------------------------------------------
                                   MAIN
-------------------------------------------------------------------------
*/

main {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 400px;
}

.chamada h3 {
    font-size: 2rem;
    text-align: center;
}

.chamada p {
    margin: 0;
    font-size: 0.6rem;
}

.chamada p strong {
    margin: 0;
    font-size: 0.6rem;
    color: var(--main);
    font-weight: bold;
}

#cadastro {
    background-color: var(--main);
    width: 14rem;
    font-size: 0.9rem;
    color: var(--neutralLight);
}

.swiper {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #eee; /* só pra ver que está funcionando */
  border-radius: 20px;
}

.swiper-slide img {
   width: 100%;
   height: 100%;
   object-fit: cover;   /* use "contain" se quiser a imagem inteira sem corte */
   display: block;
   border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2354f52c;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 0 1px #2354f5;
    width: 100%;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.campo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

#formulario form input {
    background-color: #f1d9d9c5;
    border-radius: 0.5rem;
    font-family: "Orbitron";
    width: 10rem;
    padding: 0.8rem;
    font-size: 0.5rem;
    height: 0.01rem;
    color: var(--background);
}

::placeholder {
    color: var(--textColor);
}

button {
    background-color: #ffc107d2;
    text-align: center;
    color: var(--textColor);
    height: 2.5rem;
    width: 18.75rem;
    border-radius: 10px;
    font-size: 1.06rem;
    font-family: "Bungee";
    margin: 0.625rem;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#dados_de_busca {
    border-bottom: 1px solid var(--icons);
    width: 100%;
    text-align: center;
}

#resultado {
    background-color: #2354f52c;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    box-shadow: 0 0 0 1px #2354f5;
}

#resultado img {
    height: 18rem;
    width: auto;
    max-height: 15rem;
    max-width: auto;
    object-fit: cover;
    border-radius: 5%;
    margin-right: 1rem;
}

#resultado #game_cover {
    height: 18rem;
    width: auto;
    max-height: 15rem;
    max-width: auto;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0 0 0 1px lightgray;
    margin-right: 1rem;
}

#nome_recomendado {
    font-size: 1rem;
    border-bottom: 1px solid var(--icons);
    text-align: center;
}

.dados_recomendado {
    justify-content: left;
}

.dados_recomendado_serie {
    justify-content: center;
}

.game_data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
--------------------------------------------------------------------------------
                                    Footer
--------------------------------------------------------------------------------
*/
footer {
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  flex-direction: column;
  width: 100%;
}

.fa-brands {
    font-size: 1.4rem;
    color: var(--main);
}

#brands {
    border-top: 1px solid rgb(48, 44, 44);
    padding-top: 1%;
}

#mark {
    margin: 1%;
}