/*
-------------------------------------------------------------------------
                                   GERAL
-------------------------------------------------------------------------
*/

@font-face {
    font-family: "Orbitron";
    src: url("/static/fonts/Orbitron-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bungee";
    src: url("/static/fonts/Bungee-Regular.ttf")
}

@font-face {
    font-family: "Rubik";
    src: url("/static/fonts/Rubik-Regular.ttf")
}

:root {
    --neutralLight: #ffffff;    /* Fundo, textos e separadores */ 
    --neutralDark: #111111;     /* Fundo, textos e separadores */ 
    --main: #2354f5;            /*Ações, botões e links principais */
    --secondary: #FFC107;       /*  */ 
    --highlight: #1ec8ff;       /* Hovers, destaques e gradientes */
}

html {
    background-color: var(--neutralLight);
    color: var(--neutralDark);
    font-size: 1.125rem;
    font-family: "Rubik";
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*
-------------------------------------------------------------------------
                                   MENU
-------------------------------------------------------------------------
*/

.menu {
    background-color: var(--neutralDark);
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    font-size: 0.8rem;
    color: var(--neutralLight);
}

.menu img {
    height: 7rem;
    width: 8rem;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

.menu ul li {
    padding: 0.5rem;
    height: 1.3rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
}

#login {
    background-color: var(--main);
    color: var(--neutralLight);
    border-radius: 0.5rem;
    border: 1px solid transparent;
    width: 3.5rem;
}

.menu ul li:hover {
    cursor: pointer;
    transform: scale(1.08);
    font-weight: bold;
    border-top: 0.1rem solid var(--highlight);
    transition: 0.2s ease;
}

li a {
    color: var(--neutralLight);
}

li a:visited {
    color: var(--neutralLight);
}

.dropdown {
    gap: 0.2rem;
}

.lni-chevron-down {
    color: var(--neutralLight);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--neutralDark);
    list-style: none;
    padding: 1rem;
    min-width: 100px;
    border-radius: 1rem;
}

.dropdown-menu li {
    padding: 8px 12px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: var(--neutralLight);
}

.dropdown-menu li:hover {
    background-color: var(--main);
    border-radius: 0.5rem;
    width: 100%;
    transition: 0.5s ease;
}

/*
-------------------------------------------------------------------------
                                   MAIN
-------------------------------------------------------------------------
*/

main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10%;
    gap: 20px;
}


.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 400px;
}

.chamada h3 {
    font-size: 2rem;
    text-align: center;
}

.chamada p {
    margin: 0;
    font-size: 0.6rem;
}

.chamada h3 strong {
    color: var(--main);
    font-weight: bold;
}

.chamada p strong {
    margin: 0;
    font-size: 0.6rem;
    color: var(--main);
    font-weight: bold;
}

#cadastro {
    background: linear-gradient(90deg, #2354f5, #1ec8ff);
    width: 14rem;
    font-size: 1rem;
    color: var(--neutralLight);
    border-radius: 25px;
    border: 1px solid black;
    height: 2rem;
    font-weight: bold;
}

#cadastro:hover {
    transform: scale(1.08);
    transition: 0.2s ease;
    cursor: pointer;
}

#cadastro:hover {
    transform: scale(1.05);
}

.swiper {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  border: 1px solid ;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #eee; /* só pra ver que está funcionando */
  border-radius: 20px;
}

.swiper-slide img {
   width: 100%;
   height: 100%;
   object-fit: cover;   /* use "contain" se quiser a imagem inteira sem corte */
   display: block;
   border-radius: 20px;
}

.sticker {
    position: absolute;
    bottom: 10%; 
    right: 10%;
    
    width: 7.5rem;  /* pode ajustar o tamanho do círculo */
    height: 7.5rem;
    
    background-color: rgba(255, 255, 255, 0.4); /* preto semi-transparente */
    color: #000000;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%; /* círculo perfeito */
    font-size: 1rem;
    font-weight: bold;
    
    text-align: center;
    padding: 5px;
}

.midia-Name {
    position: absolute;
    bottom: 10%;
    left: 5%;
    align-items: center;
    color: var(--neutralLight);
    font-size: 0.8rem;
    font-family: "Bungee";
}
/*
--------------------------------------------------------------------------------
                                    Footer
--------------------------------------------------------------------------------
*/
footer {
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
    background-color: var(--neutralLight);
    color: var(--neutralDark);
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
}

.fa-brands {
    font-size: 1.4rem;
    color: var(--main);
}

#brands {
    border-top: 1px solid rgb(48, 44, 44);
    padding-top: 1%;
}

#mark {
    margin: 1%;
}