@font-face {
    font-family: "Orbitron";
    src: url("/static/fonts/Orbitron-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bungee";
    src: url("/static/fonts/Bungee-Regular.ttf")
}

@font-face {
    font-family: "Rubik";
    src: url("/static/fonts/Rubik-Regular.ttf")
}

:root {
    --main-color: #E1726E;
    --secondary-color: #4DD0CC;
    --third-color: #D9B35C;
    --neutral-color: #F0F0F0;
}

html {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #080807;
    color: #F0F0F0;
    margin: 20px 20px 20px 20px;
    font-size: 10px;
    font-family: "Rubik";
    margin-top: 0px;
}

body {
    min-width: 520px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header h1 {
    margin-bottom: 0px;
    font-family: "Orbitron";
}

header h3 {
    margin-top: 0px;
    font-family: "Bungee";
    font-size: 8px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
    top: 10px;
    margin: 0;
}

header div h3 strong {
    color: var(--secondary-color)
}

#logo img {
    height: 100px;
    width: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

#formulario form input {
    background-color: #5a5757ee;
    border-radius: 5px;
    font-family: "Orbitron";
    width: 250px;
    padding: 8px;
    font-size: 8px;
    height: 5px;
    color: var(--third-color);
}

::placeholder {
    color: var(--main-color);
}

button {
    background-color: var(--main-color);
    text-align: center;
    color: whitesmoke;
    height: 25px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 8px;
    font-family: "Bungee";
    margin: 5px;
}

button:hover {
    cursor: pointer;
    transform: scale(102%);
}

footer {
  text-align: center;
  font-size: 5px;
  margin-top: 5px;
}