{% include 'topo_logout.html' %}

    <main>

        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{{url_for('static', filename='img/gamingCover.avif')}}">
                    <div class="sticker">Encontre seu novo jogo favorito</div>
                </div>
                <div class="swiper-slide">
                    <img src="{{url_for('static', filename='img/movieCover.webp')}}">
                    <div class="sticker">Descubra clássicos e novos sucessos do cinema</div>
                </div>
                <div class="swiper-slide">
                    <img src="{{url_for('static', filename='img/showsCover.webp')}}">
                    <div class="sticker">Descubra uma nova série para maratonar</div>
                </div>
                <div class="swiper-slide">
                    <img src="{{url_for('static', filename='img/booksCover.jpg')}}">
                    <div class="sticker">Encontre sua próxima grande leitura</div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="chamada">
            <h3>Busque recomendações de Mídias com base nos seus gostos!</h3>
            <button id="cadastro">Crie sua conta</button>
            <p>Já possui conta? Faça <strong>login</strong></p>
        </div>
    </main>
    <footer>
        <section id="brands">
            <p>
                <i class="fa-brands fa-square-whatsapp"></i>
                <i class="fa-brands fa-square-linkedin"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </p>
        </section>
        <p id="mark">@ 2025, Dhialick Ferraz. Todos os direitos reservados.</p>
    </footer>
    <script src="{{url_for('static', filename='js/dropdown.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/carousel.js')}}" defer ></script>
</body>
</html>