<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
        <title>Joga AI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMain.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    </head>
    <body>
        <header>
            <div id="titulo">
                <h1>Joga AI</h1>
                <h3>Tá em dúvida? <strong>A gente te ajuda!</strong></h3>
            </div>
            <div id="logo">
                <a href="/"><img src="{{url_for('static', filename='img/logo3.png')}}" alt="logo" /></a>
            </div>
        </header>
        <main>

            <section id="chamada">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vero labore ab aspernatur rem nesciunt perspiciatis explicabo, voluptatibus eum animi aut exercitationem nostrum! Odit debitis accusamus sapiente! Placeat, reiciendis consectetur.</p>
            </section>

            <section id="menu">
                <a href="/jogos"><div class="opcao_menu" id="rec_jogo"><p>Jogos</p></div></a>

                <a href="/filmes"><div class="opcao_menu" id="rec_filme"><p>Filmes</p></div></a>

                <a href="/series"><div class="opcao_menu" id="rec_serie"><p>Series</p></div></a>

                <a href="/livros"><div class="opcao_menu" id="rec_livro"><p>Livros</p></div></a>
            </section>

        </main>
        <footer>
            <p>@ 2025, Dhialick Ferraz. Todos os direitos reservados.</p>
        </footer>
    </body>
</html>