{% include 'topo_logout.html' %}

        <main>
            <div class="container">
                <section id="formulario">
                    <form>
                        <div class="campo">
                            <label for="genre"></label>
                            <input>
                        </div>


                    </form>
                </section>

                <section id="resultado">
                </section>
            </div> 
        </main>
    <footer>
        <section id="brands">
            <p>
                <i class="fa-brands fa-square-whatsapp"></i>
                <i class="fa-brands fa-square-linkedin"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </p>
        </section>
        <p id="mark">@ 2025, Dhialick Ferraz. Todos os direitos reservados.</p>
    </footer>
    </body>
    <script src="{{url_for('static', filename='js/dropdown.js')}}"></script>
</html>