<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
        <title>Joga AI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMain.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    </head>
    <body>
        <header>
        <button id="menu_botao">
            <i class="fa-solid fa-bars"></i>
        </button>
            <div id="titulo">
                <h1>Joga AI</h1>
                <h3>Tá em dúvida? <strong>A gente te ajuda!</strong></h3>
            </div>
            <div id="logo">
                <img src="{{url_for('static', filename='img/logo3.png')}}" alt="logo" />
            </div>
        </header>
        <nav id="side_menu">
            <p>Meu Menu</p>
            <ul>
                <li><a href="#"><i class="fa-solid fa-gamepad"></i> Jogos</a></li>
                <li><a href="#"><i class="fa-solid fa-tv"></i> Series</a></li>
                <li><a href="#"><i class="fa-solid fa-book"></i> Livros</a></li>
                <li><a href="#"><i class="fa-solid fa-film"></i> Filmes</a></li>
                <li><a href="#"><i class="fa-solid fa-users"></i> Sobre Nós</a></li>
                <li><a href="#"><i class="fa-solid fa-comment-medical"></i> Feedback</a></li>
            </ul>
        </nav>
        <div id="overlay"></div>
        <main>
            <div class="container">
                <section id="formulario">
                    <form action="/" method="POST">
                        <h2>Descreva o que busca</h2>
                        <label for="genre-input">Gênero</label>
                        <input type="text" id="genre-input" name="genre" list="genre-list" placeholder="Ex: Action, Adventure, Racing, etc">
                        <datalist id="genre-list">
                        {% for genero in generos %}
                            <option value="{{ genero }}"></option>
                        {% endfor %}
                        </datalist>


                        <label for="platform-input">Plataforma</label>
                        <input type="text" id="platform-input" name="platform" list="platform-list" placeholder="Ex: PC, Playstation, Android, etc">
                        <datalist id="platform-list">
                            {% for plataforma in plataformas %}
                               <option value="{{ plataforma }}"></option>
                            {% endfor %}
                        </datalist>

                        <label for="publisher-input">Publisher</label>
                        <input type="text" id="publisher-input" name="publisher" list="publisher-list" placeholder="Ex: Bethesda, SEGA, Nintendo, etc">
                        <datalist id="publisher-list">
                            {% for publisher in publishers %}
                                <option value="{{ publisher }}"></option>
                            {% endfor %}
                        </datalist>

                        <label for="tags-input">Tag</label>
                        <input type="text" id="tags-input" name="tag" list="tags-list" placeholder="Ex: Multiplayer, Singleplayer, Co-op, etc">
                        <datalist id="tags-list">
                            {% for tag in tags %}
                                <option value="{{ tag }}"></option>
                            {% endfor %}
                        </datalist>

                        <label for="store-input">Loja</label>
                        <input type="text" id="store-input" name="store" list="store-list" placeholder="EX: Steam, EPIC Games, XBOX Store, etc">
                        <datalist id="store-list">
                           {% for loja in lojas %}
                                <option value="{{ loja }}"></option>
                            {% endfor %}
                        </datalist>

                        <button type="submit">Receber Recomendação!</button>
                    </form>
                </section>
                <section id="resultado">
                    {% if not game %}
                    <img src="{{url_for('static', filename='img/placeholder.png')}}" title="resultado">
                    {% else %}
                    <h2>Minha Recomendação</h2>
                    <img id="game_cover" src="{{ game.background_image}}" alt="capa" title="capa"/>
                    <h3>{{ game.name }}</h3>
                    {% endif %}
                </section>
            </div> 
        </main>
        <footer>
            <p>@ 2025, Dhialick Ferraz. Todos os direitos reservados.</p>
        </footer>
        <script src="{{ url_for('static', filename='js/sideMenu.js') }}"></script>
    </body>
</html>